body {
    text-align: center;
    margin: 0;
    background-color: #730000;
}

.header {
    height: 230px;
}

.thrones {
    width: auto;
    height: 380px;
    left: 50.5%;
    transform: translateX(-50%);
    position: absolute;
    top: -55px;
    z-index: -3;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.letter {
    position: absolute;
    top: 230px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 80%;
    max-height: calc(100vh - 250px);
    z-index: -2;
}

.seal {
    height: 80px;
    z-index: -1;
    margin-top: 20px;
}

button {
    font-family: monospace;
    font-size: 18px;
    padding: 5px 12px;
    font-weight: 600;
    border-radius: 0;
    cursor: pointer;
}

.taskBtn {
    margin-top: 20px;
}

.taskBtn:focus {
    outline: initial;
}

.task {
    padding: 20px 40px;
    font-family: monospace;
}

.timer {
    margin-top: 30px;
    font-size: 32px;
    color: #730000;
}
